*{
    box-sizing: border-box;
}

body {
    font-size: 16px;
    color: #000;
    background-color: #fff;
    font-family: Calibri, sans-serif;
}

/* HEADER START */

header{
    background-color: darkseagreen;
    position: sticky;
    top: -15px; 
}
a:link{
    text-decoration: none;
}

h1{
    padding-top: 5px;
    text-align: center;
    color: #000;
    font-size: 3.25em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0; 
}

.contact-info{
    text-align: center;
}

#view-counter{
    position: fixed;
    top: 10px;
    right: 10px;
}

/* HEADER END */

/* BODY START */

section{
    margin-bottom: 15px;
}
h2 {
    font-size: 1.25em;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    border-top-style: solid;
    border-color: #000;
    border-top-width: 2px;
}
#summary h2 { /* top title shouldn't have a border */
    border-top-style: none;
    margin-top: 15px;
}
h3 {
    font-size: 1.1em;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    color: forestgreen;
}
.date {
    margin: 0;
}
.inst-name {
    font-size: 1.1em;
    text-transform: uppercase;
    margin: 0;
}
p{
    margin: 0;
}
ul{
    margin: 0;
}

.side-box {
    background-color: #606e52;
    color: #fff;
}


/* BODY END */

@media (min-width: 730px) {
    #address{
        text-align: right;
        float: left;
        width: 45%;
    }
    #phone-number{
        text-align: center;
        width: 150px;
        float: left;
    }
    #email-address{
        text-align: left;
        float: left;
    }
    .header-row{
        height: 20px;
    }


    .side-box{
        float: right;
        width: 33.33%;
        padding: 3px;
        font-size: 1.2em;
        margin-top: 10px;
        position: sticky;
        top: 90px;
        height: 80vh;
    }
    .side-box h2{
        border: none;
    }
    .side-box li {
        margin: 5px 0px 5px 0px;
    }
    .main-body-box{
        width: 64%;
    }
    #summary{
        width: 100%;
    }
}

@media (min-width: 481px) and (max-width: 729px){
    .side-box{
        border-left-style: solid;
        border-right-style: solid;
        border:#000;
        border-width: 2px;
        padding-bottom: 5px;
    }
    #skills-list{
        column-count: 2;
    }
}

@media (max-width: 480px){
    .side-box{
    }
}


